@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --dark-one: #333;
  --dark-two: #7a7a7a;
  --main-color: #784cfb;
  --light-one: #fff;
  --light-two: #f9fafb;
  --light-three: #f6f7fb;
  --bg-color: #d5caf8;
  --darkmain-color: #651ced;
}

#page-container {
    min-height: 100%;
  }
  #page-content{
    overflow: auto;
    padding-bottom: 40px;
    width: 100%;
  }
  footer {
    position: relative;
    height: 20px;
    margin-top: -20px;
    clear: both;
  }
  #papic_profile_low{
     height: 300px;
     width: 300px;
  }
  #image_high{
    max-height: 50rem;
    max-width: 100rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
 }
  body{
      background-color: var(--bg-color);
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 1.2rem;
  }
  .container{
      transition: 1s;
  }
  #papic_container{
      background-color: white;
      height: 900px;
      background: -webkit-linear-gradient(0deg,white 50%,#e3dede 50%);
      background-size: 200%;
  }
  #papic_container:hover{
    background-position: 100%;
  }
  #mesinger_container{
      background-color: white;
      height: 900px;
      background: -webkit-linear-gradient(0deg,white 50%,#e3dede 50%);
      background-size: 200%;
  }
  #mesinger_container:hover{
    background-position: -100%;
  }
  img:hover{
      border: white solid 1px;
  }
  .bi{
    color: var(--main-color);
    font-size: x-large;
  }

  #title{
    font-size: 3rem;
  line-height: 0.8;
  color: var(--dark-one);
  margin-top: 20px;
  margin-bottom: 20px;
  }
  #name-title{
    font-size: 3.2rem;
  line-height: 0.8;
  color: var(--dark-one);
  }
  .section{
    color: #4a2ca3;

  }
  .title{
    font-weight: 700;
    color: var(--main-color);
  }

  #head_bar{
    height: 37rem;
    background-image: url("Slike/Papic/background.png");
    width: 100%;
    position: relative;
  }
  #bottom_main{
    background-color: var(--bg-color);
  }

  #main_profile_pic{
    width: 28rem;
    height: 28rem;
    position: absolute;
    top: 3rem;
    left: 40px;
  }

  #black_block{
    width: 25rem;
    height: 25rem;
    position: relative;
    top: 5rem;
    left: 1rem;
  }

  #name-title-main{
    font-size: 3.8rem;
    line-height: 0.8;
    margin-top: 10px;
    margin-left: 17rem;
    color: var(--bg-color);
}
#papic-video{
  width: 50rem;
  height: 30rem;
}

.header{
  margin-top: 3rem;
  font-weight: 600;
  font-size: 3rem;
}

#car{
  max-width: 40rem;
  max-height: 40rem;
  margin: auto;
}

#papic_audio{
  max-width: 30%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 80px;
  color: var(--main-color);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 80px;
  color: var(--main-color);
}

#final-pic{
  width: 900px;
  height: 461px;
}
a{
  text-decoration: none;
  color: var(--main-color);
}
#ftr-info{
  font-size: 1rem;
}

#mesinger_profile_low{
  height: 300px;
  width: 300px;}

  #mesinger-detail-container{
    background-color: white;
    height: fit-content;
    width: 95%;
    background: -webkit-linear-gradient(0deg,white 50%,#e3dede 50%);
    background-size: 200%;
  
   }